@using LoopsChallenge.Data.Entities;
@using LoopsChallenge.Models;

@model ProfilePageModel;

<div class="main-page-container">
    @await Component.InvokeAsync("SearchBar")
    <h1>
        @Model.Username
    </h1>
    @Html.Partial("_LoginPartial")
    
</div>
