*{
    --blue-dark: #3a5969;
    --blue-med: #6a494aa;
    --black-med: #342e37;
    --green-light: #a2d729;
    --white-light: #fafffd;

    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
}


/* Splash Page */
.header-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
}

.bg-main{
    background-color: var(--blue-dark);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#splash-carousel{
    width: 100%;
    max-width: 100%; 
    height: 100%;
    max-height: 100%;
}

#login-container{
    background-color: var(--white-light);
    color: var(--black-med);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 8px;
    width: 100%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login-form label{
    font-weight: 600; 
    font-size: 1.3rem;
}

#login-form input{
    font-weight: 400;
    font-size: 1rem;
}


#login-form #login-button {
    background-color: var(--green-light);
    color: var(--blue-dark);
    border-radius: 4px;
    padding: 5px;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
}
