* {
    --blue-dark: #3a5969;
    --black-med: #342e37;
    --silver: #a2abba;
    --green-light: #a2d729;
    --white-light: #fafffd;
    --subtle-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

/* Splash Page */
.header-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
}

.bg-main{
    background-color: var(--blue-dark);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#splash-carousel{
    width: 100%;
    max-width: 100%; 
    height: 100%;
    max-height: 100%;
}

#login-container{
    background-color: var(--white-light);
    color: var(--black-med);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 8px;
    width: 100%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login-form label{
    font-weight: 600; 
    font-size: 1.3rem;
}

#login-form input{
    font-weight: 400;
    font-size: 1rem;
}


#login-form #login-button {
    background-color: var(--green-light);
    color: var(--blue-dark);
    border-radius: 4px;
    padding: 5px;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
}

/* Registration Page */
.register-container {
    width: 60%;
    height: 55%;
    background-color: var(--white-light);
    border: 5px solid var(--silver);
    border-radius: 8px;
    box-shadow: var(--subtle-box-shadow);
    padding: 15px;
    display: flex;
    flex-flow: column;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .register-container{
        width: 60%; 
        height: 60%; 
    }
}

.register-container h1{
    font-weight: 600;
}

.register-container form{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.register-form{
    width: 100%;
    height: 100%; 
}

.register-container .register-form-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.register-container .vertical-entry{
    width: 80%;
    display: flex;
    flex-flow: column;
    margin: 10px 0px 10px 0px; 
}

.register-container .horizontal-entry {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.register-container .horizontal-entry input, .register-container .horizontal-entry select{
    width: 60%;
}

.arrows-container{
    position: absolute;
    bottom: 10px; 
    align-self: center;
}

.arrows-container span{
    font-size: 3rem;
}

.arrows-container span:hover{
    cursor: pointer;
}

.register-container label{
    font-weight: 400;
    font-size: 1.2rem;
}

/* Profile Image */
.profile-upload-container{
    display: flex;
    flex-flow: row; 
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.p-note{
    color: var(--green-light);
}

#profile-image-preview{
    max-width: 150px;
    max-height: 150px;
}

.register-container textarea{
    resize: none;
}

#registration-submit {
    background-color: var(--green-light);
    border-radius: 8px;
    border: none;
    padding: 8px;
    position: absolute;
    bottom: 10px;
    align-self: center;
    font-size: 1.6rem;
}

/* Home Page */
.main-page-container{
    display: flex;
    flex-flow: column;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--white-light);
    overflow: auto;
}

/* Top bar */
#home-and-search{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#home-and-search i{
    transform: scale(1.5);
}

#home-and-search a{
    text-decoration: none;
    color: black;
}

#home-and-search a :visited{
    text-decoration: none;
    color: black;
}

/* Company Pages */
.company-result-container{
    border: 1.5px solid var(--blue-dark);
    border-radius: 3px;
    padding: 5px;
    width: min-content;
    min-width: 40%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column;
}

.company-result-container a{
    font-size: 2rem;
    font-weight: 400;
}

.company-result-container p{
    font-size: 1.3rem;
    font-weight: 200;
}

#company-name-display{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: var(--blue-dark);
}

#review-container{
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
}

#review-container h2{
    font-size: 2.2rem;
    font-weight: 400;
}

#review-filters .filter-tag {
    font-size: 1.2rem;
    transition: background-color linear .8s;
}

#search-review-btn{
    background-color: var(--green-light);
}

.company-review{
    font-size: 1.8rem;
    border: 1px solid var(--silver);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

.company-review review-tag{
    font-size: 1.5rem;
}

.company-review p{
    font-size: 1.5rem;
    font-weight: 200;
}

.company-review .review-stars{
    margin-bottom: 0px;
}

#add-review-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
    background-color: var(--white-light);
    box-shadow: var(--subtle-box-shadow);
    border: 1px solid var(--silver);
    border-radius: 3px;
    padding: 10px;
    margin: 30px 0px;
}

#add-review-container a, #add-review-container i{
    color: inherit;
    font-size: 1.7rem;
    font-weight: 600;
}

#add-review-container a:visited, #add-review-container a:active {
    text-decoration: none;
    color: inherit;
} 

#add-review-container i{
    margin-left: 5px;
}
#add-review-container a:hover{
    cursor: pointer;
}

/* Review Page */
#review-form{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#review-form h2{
    font-weight: 800;
    font-size: 3rem;
}

#review-form .badge{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color linear .8s;
}

#review-form textarea{
    resize: none;
    padding: 8px;
}

#review-form textarea:active, #review-form textarea:focus{
    border-color: var(--green-light);
}

.review-stars{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-bottom: 35px;
}

.review-stars .fa-star{
    font-size: 2.2rem;
}

.review-stars .selected-star{
    color: orange;
}

#new-tag-input{
    outline: none;
    background-color: inherit;
    border: none;
}

#new-tag-input:active{
    background-color: inherit;
}

#add-tag-btn{
    border: none;
    outline: none;
}

#add-tag-btn i{
    transition: color linear .4s;
}

#add-tag-btn i:hover{
    color: var(--green-light);
}