@using LoopsChallenge.Data.Entities;
@using LoopsChallenge.Models;

@model CompanyPageModel

<div class="main-page-container">
    @await Component.InvokeAsync("SearchBar")

    <h1 id="company-name-display">@Model.Company.CompanyDisplayName</h1>

    <div id="add-review-container">
        <a href="/review/@Model.Company.Id">Add a review</a>
        <i class="fas fa-plus"></i>
    </div>
    

    <div id="review-container">
        <h2>Reviews</h2>

        @foreach (var review in Model.Reviews)
        {
            <div class="company-review">
                <p>@review.ReviewText</p>
            </div>
        }
    </div>

</div>
