@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="first-fold">
    <header class="header">
        <a href="#">
            <p class="logo"></p>
        </a>

        <nav class="main-nav">
            <ul class="main-nav-list" role="navigation">
                <li><a class="main-nav-link" href="#registration">Sign Up!</a></li>
            </ul>
        </nav>
    </header>

    <section class="section-hero">
        <div class="hero">
            <h1 class="heading-primary">
                Tech Without Boarders
                <p class="hero-description">
                    Many minorities, such as women, LGBTQ+ individuals, and People of Color, are still not represented in the same way and given the saem respect within the industry. Our goal is to eliminate the undiversified nature that occurs within the technology industry by providing resources to minority groups, allowing them to connect with others on a professional platform.
                </p>
            </h1>
        </div>
    </section>
</div>



