
<div class="main-page-container">
    @await Component.InvokeAsync("SearchBar")
    <section class="section-hero">
        <div class="hero">
            <h1 class="heading-primary">Tech Without Borders</h1>
            <p class="hero-description">
                Many minorities, such as women, LGBTQ+ individuals, and People of Color, are still not represented in the same way and given the saem respect within the industry. Our goal is to eliminate the undiversified nature that occurs within the technology industry by providing resources to minority groups, allowing them to connect with others on a professional platform.
            </p>
        </div>
    </section>
</div>



